# Segmenting and Clustering Neighborhoods in Toronto - Part 1

## Part 1 : Loading Toronto data in dataframe

In [1]:
import numpy as np
import pandas as pd

#### Loading data from Wikipedia

In [2]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [3]:
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

#### Rename column Neighbourhood to Neighborhood

In [4]:
df.rename(columns={'Neighbourhood': 'Neighborhood'}, inplace=True)

#### Removing rows with value of Borough "Not assigned"

In [5]:
df=df[df['Borough']!='Not assigned']

In [6]:
df=df.groupby(['Postcode']).agg({'Borough': 'first','Neighborhood':lambda x: ", ".join(x)}).reset_index()

#### Assigning the borough name to the neighborhood with value "Not assigned"

In [7]:
df[df['Neighborhood']=='Not assigned']

   Postcode       Borough  Neighborhood
93      M9A  Queen's Park  Not assigned

In [8]:
for i in range(len(df)):
    if df['Neighborhood'].iloc[i]=='Not assigned':
        df['Neighborhood'].iloc[i]=df['Borough'].iloc[i]

In [9]:
df.loc[93]

Postcode                 M9A
Borough         Queen's Park
Neighborhood    Queen's Park
Name: 93, dtype: object

#### The size of dataframe

In [10]:
df.shape

(103, 3)

# The end of Part 1

# Thank you